@font-face {
    /* Font 1 */ 
    font-family: 'Manrope';
    src: url('../../fonts/Manrope-VariableFont_wght.ttf') format('truetype');
    /* Font 2 */
    font-family: 'Outfit';
    src: url('../../fonts/Outfit-VariableFont_wght.ttf') format('truetype');

}

@media(max-width: 768px) {
        h3 {
            font-size: 120%;
        }
    
}

body {
    background-color: rgba(0,5,23,255);
    font-family: 'Manrope', 'Outfit', Arial, Helvetica, sans-serif;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    padding: 300px;
    padding-left: 250px;
    padding-right: 250px;
    padding-bottom: 150px;
    row-gap: 50px;
    font-size:20px;
    
}

.version1-h1{
    font-family: 'Manrope', 'Outfit', Arial, Helvetica, sans-serif;
    font-size: 200;
    font-weight: bold;
    line-height: 0.9;
    height: 20px;
    color: white;
    white-space: nowrap;

}

.version1-h2 {
    font-family: 'Manrope', 'Outfit', Arial, Helvetica, sans-serif;
    font-weight: 350;
    font-size: 30px;
    color: #8da4f7;
    height: 50px;
}

h1 {
    font-family: 'Manrope', 'Outfit',Arial, Helvetica, sans-serif;
    font-size: 40;
    line-height: 0.9;
    font-weight:100;
    height: 40;
    color: white;
    white-space: nowrap;  
}

h2 {
    font-family: 'Manrope', 'Outfit', Arial, Helvetica, sans-serif;
    font-weight: 350;
    font-size: 32px;
    color: #6788ff;
    height: 50px;
}

h3 {
    color:#636377;
    font-size: 90%;
    height:8;
}


input[type="email"] {
    width: 115%;
    height: 45px;
    font-size: 17;
    font-family: 'Manrope', 'Outfit', Arial, Helvetica, sans-serif;
    padding: 10px 10px;
    line-height: 50px;
    border-radius: 10px;
    border-color:#636377;
    border: 1px solid #1b1a38;
    background: #1b1a38;
    color: white;
}

input[type="password"] {
    width: 115%;
    height: 45px;
    font-size: 17;
    font-family: 'Manrope', 'Outfit', Arial, Helvetica, sans-serif;
    padding: 10px 10px;
    line-height: 50px;
    border-radius: 10px;
    border-color:#636377;
    border: 1px solid #1b1a38;
    background: #1b1a38;
    color:white;
}


#test {
    border: 1px solid #6788ff;
    padding: 15px;
    text-align: center;
    cursor: pointer;
    width: 90%;
    margin-top: 20px;
    text-align:center;
    height: 50px;
    border-radius: 10px;
    background-color: #6788ff;
    color: white;
    font-size: 16px;
}


.login-form {
    color: black;
    width: 370px;
    height: 500px;
   

}


.login-box {
    font-weight: 400;
}

.logo {
    height: 430;
    transition: filter 0.3s ease, transform 0.3s ease
}

.logo:hover {
    filter: drop-shadow(0 0 3px rgb(255, 255, 255));
    transform: scale(1.10);
}

.checkbox {
    color: white;
    font-size: 16;
    width: 445px;
    height: 40px;
}

.register-link {
    color: white;
    font-size: 16;
    width: 445px;
}

.login-info {
    height: 180;
}

.checkbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: left;
}
.register-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: left;
}


.body-group {
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    gap: 200px;

    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
  
}

